

<table id="example" class="table table-striped green-background" style="width:100%">
  <thead >
      <tr>
          <th>Board Position</th>
          <th>Board Name</th>
          <th>Board Creation Date</th>
          <th>Board Color</th>
          <th>Board Options</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td> 
          <td>Feature Request</td>
          <td>19/06-2021</td>
          <td><input id="color-picker_1" name="test" value='#276cb8' /></td>
          <td> 
            <i class="fas fa-edit"></i>
            <i class="far fa-trash-alt"></i>
          </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bug Reports</td>
        <td>19/06-2021</td>
        <td><input id="color-picker_2" name="dasjid" value='#276cb8' /></td>
        <td><i class="fas fa-edit"></i>
          <i class="far fa-trash-alt"></i></td>
    </tr>      
  </tbody>
  <tfoot>
      <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Start date</th>
      </tr>
  </tfoot>
</table>




 <script type="text/javascript">


</script>
