<div class="container push-top-50">
    <h1 class="text-white"> Board - Name</h1>

    <div class="divider"></div>

    <div class="row">
        <div class="suggestion-box col-md-3 green-background">
            <div>
                <h4 class="text-black text-center">Suggest something</h4>
            </div>

            <div class="divider"></div>

            <div class="form-outline">
                <div class="form-outline">
                    <input type="text" id="form1" class="form-control active">
                    <label class="form-label" for="form1" style="margin-left: 0px;">Example label</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 87.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

            </div>

            <div class="divider"></div>

            <div class="form-outline">
                <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                <label class="form-label" for="textAreaExample">Youre awesome suggestion here</label>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 87.2px;"></div>
                    <div class="form-notch-trailing"></div>
                </div>
            </div>

            <div class="divider"></div>

        </div>

        <div class="col-md-9">

        </div>
    </div>
</div>