<div class="green-background" style="padding-top: 150px; padding-bottom: 150px;">
    <div class="container ">
        <h1>Roadmap</h1>
        <div class="row">
        
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-header light-red">
                        Planned
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-header dark-purple">
                      In Progress
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-center ">
                    <div class="card-header light-green">
                      Completed
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>