<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/admin">
            <img class="hideLogo img-fluid" src="https://omnidocs.com/wp-content/themes/omnidocs/assets/images/logo.svg"alt="">
            <img class="showFavicon img-fluid" src="/static/style/img/favicon.png"alt="">
        </a>

    </div>

    <ul class="list-unstyled components">
        <!-- Go to index -->
        <li class="" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <a href="/admin" >
                <div class="row ms-auto">
                    <div class="col-md-2">
                        <i class="fas fa-tachometer-alt fa-fw"></i>
                    </div>
                    <div class="col-md-10 hideText">
                        Dashboard
                    </div>
                </div>
            </a>
        </li>

        <!-- Go to user management -->
        <li class="">
            <a href="/admin/users">
                <div class="row ms-auto">
                    <div class="col-md-2">
                        <i class="fas fa-users fa-fw"></i>
                    </div>
                    <div class="col-md-10 hideText">
                        Users
                    </div>
                </div>
            </a>
        </li>  

        <!-- Go to board management -->
        <li class="">
            <a href="/admin/boards">
                <div class="row ms-auto ">
                    <div class="col-md-2">
                        <i class="fas fa-clipboard fa-fw"></i>
                    </div>
                    <div class="col-md-10 text-start hideText">
                        Boards
                    </div>
                </div>
            </a>
        </li>

        <!-- Board posts -->

        <li class="">
            <a href="#otherSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false"  aria-controls="collapseExample" class="dropdown-toggle">
                <div class="row ms-auto ">
                    <div class="col-md-2 hideText">
                        <i class="fas fa-clone fa-fw "></i>
                    </div>
                    <div class="col-md-8 hideText">
                        Posts
                    </div>
                    <div class="col-md-2">
                        <i class="fas fa-chevron-down fa-fw"></i>
                    </div>
                </div>
            </a>
            <!-- Dropdown -->
            <ul class="collapse list-unstyled" id="otherSubmenu">
                <li class="#">
                    <a href="/admin/restrictedUrls">
                        <div class="row ms-auto">
                            <div class="col-md-2">
                                <i class="fas fa-clipboard-list fa-fw" style="color: blue;"></i>
                            </div>
                            <div class="col-md-10 text-start hideText">
                                Feature Requests
                            </div>
                        </div>
                    </a>
                </li>

                <li class="#">
                    <a href="/admin/restrictedUrls">
                        <div class="row ms-auto">
                            <div class="col-md-2">
                                <i class="fas fa-clipboard-list fa-fw" style="color: red;"></i>
                            </div>
                            <div class="col-md-10 text-start hideText">
                                Bug Reports
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- Dropdown end -->
        </li>


        <!-- return to website -->
        <li >
            <a href="/">
                <div class="row ms-auto">
                    <div class="col-md-2">
                        <i class="fas fa-home fa-fw"></i>
                    </div>
                    <div class="col-md-10 hideText">
                        Return
                    </div>
                </div>
            </a>
        </li>

        <!-- log out -->
        <li >
            <a href="/logout">
                <div class="row ms-auto">
                    <div class="col-md-2">
                        <i class="fas fa-sign-out-alt fa-fw"></i>
                    </div>
                    <div class="col-md-10 hideText">
                        Log out
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>