* {
    font-family: atkinson;
}

@font-face {
    font-family: "atkinson";
    src: url("/static/style/fonts/Atkinson-Hyperlegible-Bold-102a.woff2");
}

body {
    background-color: #4600B4;
}

header {
    height: auto;    
}

.green-background {
    background-color: #beffe1;
    color: #4600b4;
}
.logo-size {
    width: 120px;

}

.light-red {
    background-color: #FFA6A6;
}

.yellow {
    background-color: #FFF5B8;
}

.dark-purple {
    background-color: #4600B4;
}

.light-green {
    background-color: #3EF4A6;
}

.white {
    background-color: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}
.text-purple {
    color: #4600B4;
}
.text-black {
    color: #323232;
}

.push-top-50 {
    padding-top: 50px;
}
.divider {
    margin: 20px 0px 20px 0px;
}